@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1{
    margin: 0.67rem;
    font-size: 1.5rem;
    color:  hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    color: hsl(220, 15%, 55%);
    font-weight: 400;

}

body {
    display: grid;
    background-color: hsl(212, 45%, 89%);
    place-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.qr-card{
    background-color: white;
    max-width: 25rem;
    border-radius: 0.6rem;
    text-align: center;
    margin: 15% 5%;
    padding: 1.1rem;
}

img{ 
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 0.6rem;

    background-color: aqua;
    
}

@media (min-width: 35rem) {
    body{ 
        background-color: aqua;

    }

    .qr-card {
        display: flex;
        flex-direction: column;
        padding-bottom: 4rem;
        max-width: 20rem;
        height: 85%;
        margin: 0%;
        padding: 1%;
    }

    img{
        height: auto;
        width: 100%;
        display: block;


    }
    h1 {
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
        margin-top: 1rem;
    }
}




